<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="mr-auto font-weight-bold">Host:</div>
        <div class="ml-auto" wicket:id="host"></div>
    </div>
    <div class="row">
        <div class="mr-auto font-weight-bold">Counter:</div>
        <div class="ml-auto" wicket:id="counter"></div>
    </div>
    <div class="row text-center mt-2">
        <a class="btn btn-secondary mr-auto" wicket:id="decreaseCounter">Decrease counter</a>
        <a class="btn btn-primary ml-auto" wicket:id="increaseCounter">Increase counter</a>
    </div>
</wicket:panel>